<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Ресторан на дланка</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/">Home</a>
                    </li>

                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/about">About</a>
                    </li>

                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/contact">Contact</a>
                    </li>

                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/restaurants">Restaurants</a>
                    </li>

                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/reservations">My reservations</a>
                    </li>
                </ul>

                <ul class="navbar-nav m-auto navbar-right">
                    <li class="nav-item m-auto">
                        <form class="form-inline my-2 my-lg-0" th:method="POST" th:action="@{/restaurants}">
                            <label for="text">
                                <input type="text" name="text" id="text"/>
                            </label>
                            <button class="btn btn-primary btn-sm ml-3" type="submit">Search</button>
                        </form>
                    </li>

                    <li class="nav-item m-auto" sec:authorize="isAuthenticated()">
                        <a class="nav-link active" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"> </th:block>
                        </a>
                    </li>

                    <li class="nav-item m-auto" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" th:href="@{/logout}">
                            <i class="fa fa-shopping-cart"></i> Logout
                        </a>
                    </li>

                    <li class="nav-item m-auto" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" th:href="@{/login}">
                            <i class="fa fa-shopping-cart"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
