<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
            <h3 class="jumbotron-heading">All searched restaurants</h3>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <h2>Search query results:</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Restaurant</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Country</th>
                        <th scope="col">Longitude</th><th scope="col">Latitude</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="restaurant : ${restaurants}">
                        <td th:text="${restaurant.getName()}"></td>
                        <td th:text="${restaurant.getAddress()}"></td>
                        <td th:text="${restaurant.getCity()}"></td>
                        <td th:text="${restaurant.getCountry()}"></td>
                        <td th:text="${restaurant.getLongitude()}"></td>
                        <td th:text="${restaurant.getLatitude()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/restaurants" class="btn btn-primary">Back</a>
    </div>
</div>